*.aux
*.log
*.toc
*.lof
*.lot
*.out
*.bbl
*.blg
*.synctex.gz
*.fls
*.fdb_latexmk
*.nav
*.snm
*.vrb
eslint.config.js
index.html
vite.config.js
*.svg
index.css
App.js
App.test.js
index.js
reportWebVitals.js
setupTests.js
main.jsx
*.json
/node_modules
*.ico
*.png
robots.txt